.body{
    flex:0.8;
    background: linear-gradient(rgb(91,87,115) , rgb(0,0,0,1));
    height:100vh;
    padding: 30px;
    color: white;
    overflow-y: overlay;
    margin-bottom: 35px;
}
.body::-webkit-scrollbar{
    display: none;
}
.body_info{
    display: flex;
    align-items: flex-end;
    padding: 10px;
}
.body_info img{
    height: 18vw;
    object-fit: contain;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0,0,0,0.5);
    min-height: 150px;
}
.body_infoText{
    flex: 1;
}
.body_infoText h2 {
    font-size: 48px;
}
.body_infoText p {
    font-size: 14px;
}
.body_icons{
    display: flex;
    align-items: center;
    color: gray;
}
.body_icons > .MuiSvgIcon-root {
    margin-right: 20px;
}
.body_shuffle{
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1db954;
}
.body_shuffle:hover{
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}
.body_songs{
    margin: 20px -30px;
}